/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
    border:1px solid grey;
    padding: 20px;
   
    height: 100%;
    

}

/* common */
header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
main{
    width: 100%;
    height: 800px;
}

ul{
    list-style-type: none;
}
/* end common */

.logo{
    display: block;
    width: 400px;
   
   
}
.logo img{
    width: 100%;
    object-fit: contain;  
  
}
/* MAIN */

.input-container{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.todo{
    padding: 6px 130px;
    text-align: center;
    border: 1px dotted blue;
    margin: 10px;
}

.push{
    padding: 10px 40px;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;

}

.list-of-items{
    padding:2px 5px;
    
}
.list-of-items ul li{
    border-bottom: 1px solid black;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin: 10px 0;
}

span{
    cursor: pointer;
}